<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/css/styles.css">
        <!--[if lt IE 9]>
            <script src=""></script>
        <![endif]-->
    </head>
    <body>

        <div class="header"></div>
        <div class="container"></div>
        <div class="footer"></div>

        <!-- <script src="js/scripts.js"></script> -->

        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script>
            var sock = new SockJS('/tunnel', undefined, {debug: true, devel: true});
            sock.onopen = function() {
                console.log('open');
            };
            sock.onmessage = function(e) {
                console.log('message', e.data);
            };
            sock.onclose = function() {
                console.log('close');
            };
        </script>

    </body>
</html>
