<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/css/styles.css">
        <!--[if lt IE 9]>
            <script src=""></script>
        <![endif]-->
    </head>
    <body>

        <div class="board">
            <% for (var i = 0; i < 42; i++) { %>
                <div id="c<%= i %>"></div>
            <% } %>
        </div>

        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>
